body {
  background-color: #343330;
  background-image: url("../images/hero_image.png");
  background-size: 50%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

/* body {
  background-color: #101419;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
} */

/* main {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    max-width: 40%;
    margin: 0 auto;
    padding: 0 10px;
} */

/* .site-header {
  background-color: #515050;
  height: 100px;
  padding: 20px;
  text-align: left;
} */

.section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  padding-top: 5%; /* Justera detta värde efter behov */
  margin: 20px 0;
  height: 100vh;
}

.section > h1 {
  width: 100%;
  text-align: center;
}

.text-right {
  justify-content: flex-end;
  text-align: right;
}

.text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  text-align: center;
}

/* Centrerad text */
.text-center {
  justify-content: center;
  text-align: center;
}

.navbar {
  background-color: rgba(175, 187, 242, 0.5);
  margin-top: 15px;
  height: 50px;
  padding: 20px;
  text-align: center;
  display: block;
  position: sticky;
  top: 0;
  /* left: 20; */
  width: 100%;
}

#header-button {
  text-align: center;
  height: auto;
  background-color: #9aadbf;
  color: white;
  padding: 25px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.site-footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #515050;
  height: 100px;
  padding: 20px;
  text-align: center;
}

/* .center-text {
  text-align: center;
} */

#animals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

/* .animals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

#animals img {
  height: 350px;
  margin: 0 20px;
}

.intro {
}

.ikoner {
}

#table1 {
  display: block;
  vertical-align: top;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: left;
}

.home-content {
  max-width: 50%;
}

.boxes {
  display: inline-flex; /* Gör så att boxen anpassar sig efter innehållet men fortfarande tillåter flex-items inuti */
  flex-direction: column; /* Ställer in riktningen på flex-items, om du har flera */
  max-width: 50%; /* Sätter en maximal bredd på boxen */
  background-color: #45462a;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 15px solid #dc851f;
  word-wrap: break-word; /* Ser till att långa ord kan brytas för att passa inuti boxen */
}

.boxes h3,
.boxes p {
  margin: 10px 0; /* Justerar marginalen */
}

.boxes i {
  margin-right: 10px;
  color: #ffffff; /* Vit färg på ikonerna */
}

/* https://coolors.co/343330-45462a-7e5920-dc851f-ffa737 */
